form{
    position: absolute;
    top: 50%; 
    left: 46%; 
    transform: translate(-50%, -50%);
}

#titre{
    text-align: center;
    position: absolute;
    /* margin-right: 100px;  */
    top: 15%; 
    left : 37%;
}

fieldset{
    padding : 50px;
    width :100%;
    border-radius: 30px;
    border : solid 2px black; 
}

#inscription{
    margin-top: 25px;
    float: right;
    cursor: pointer;
    border : solid 2px #add8e6;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: lightblue;
}

fieldset > div{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 100%
    
}

#payement-coti{
    display: flex;
    flex-direction: row;
}


