<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Grand Galop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>
</head>
<body> 
    <div id="navbar">
        <nav>
            <h2 class="logo">Grand Galop</h2>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Reserver</a></li>
                <li><a href="#">Poneys</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>