<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Grand Galop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>
</head>
<body> 
    <div id="navbar">
        <nav>
            <h2 class="logo">Grand Galop</h2>
            <ul>
                <li><a href="{{ url_for("home") }}">Accueil</a></li>    
                <li><a href="{{ url_for("detail") }}">Poneys</a></li>
                <li><a href="{{ url_for("mes_cours",username="user1") }}">Mes cours</a></li>
                <li><a href="{{ url_for("cours_dispo") }}">Reserver</a></li>
                <li><a href="{{ url_for("login") }}">Log In</a></li>
                <li><a href="{{ url_for("register") }}"">Register</a></li>
            </ul>
        </nav>
    </div>

    <main class="flex-shrink-0">
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </main>

</body>
</html>