{% extends "accueil.html" %}
{% block style %}
{{ super () }}
{% endblock %}
<link rel='stylesheet' href="{{ url_for('static',filename='../static/main.css')}}">
{% block content %}
    <div class="sample">
        {% for x in poneys %}
        <div class ="poney">
            <img class = "img_poneys" src="{{ url_for('static', filename='images/background.jpg')}}" style="margin-bottom: 1%;"/>
            <a href = "{{ url_for("reserv",idClient = user.idClient,idCours = idCours,idPoney = x.idP) }}" style="color: black;"> {{ x.nomP }} , {{ x.poidsMax }} kg</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts%}
{{ super () }}
{% endblock %}
</html>