<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Page d'inscription</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/inscription.css">
    </head>
    <body>
        <h1 id="titre">Formulaire d'inscription</h1>
        <form id="form-connexion">
            <fieldset>
                <div>
                    <label>Nom</label>
                    <input type=”text” id="nom" name=”nom” required>
                </div>
                <div>
                    <label>Prénom</label>
                    <input type=”text” id="prenom" name=”prenom” required>
                </div>
                <div>
                    <label>Poids</label>
                    <input type=”number” id="poids" name=”poids” required>
                </div>
                <div>
                    <label>Identifiant</label>
                    <input type=”text” id="identifiant" name=”identifiant” required>
                </div>
                <div id="motdepasse">
                    <label>Mot de passe</label>
                    <input type=”password” id="mdp" name=”mdp” required>
                </div>
                <div id="payement-coti">
                    <label>Payer la cotisation</label>
                    <input type="checkbox" id="cotisation" name="paye-coti">
                </div>
                <input type="submit" value="Se connecter" id="inscription">
                <p id="access"></p>
            </fieldset>           
        </form>
    </body>
</html>