{% extends "accueil.html" %}
{% block style %}
{{ super () }}
{% endblock %}
        <link rel="stylesheet" href="../static/connexion.css">
        {% block content %}
        <h1 id="titre-c">Page de connexion</h1>
        <form id="form-connexion">
            <fieldset>
                <div>
                    <label>Identifiant : </label>
                    <input type=”text” id="identifiant" name=”identifiant” class="zonetext" required>
                </div>
                <div id="motdepasse">
                    <label>Mot de passe :</label>
                    <input type=”password” id="mdp" name=”mdp” class="zonetext" required>
                </div>
                <input type="submit" value="Se connecter" id="connexion">
                <p id="access"></p>
                <a href="page_inscription.html" id="inscription">S'inscrire</a>
            </fieldset>           
        </form>
{% endblock %}
</html>